body{
    background-image: url(../Images/Light/Dashboard_Background_Light.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Glacial Indifference', sans-serif;
}

.header {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
}

.container {
    border-radius: 10px;
    padding: 30px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 50vh;
    max-height: 80vh; /* keep container within viewport */
}    
    
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.claims-list {
    flex: 1;
    overflow-y: auto; /* scrollable area */
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
}

.claim {
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    background: #1AA6B7;
}

.claim-pending {
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    background: #ff914d;
}

.claim-denied {
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    background: #cc0c18;
}

.claim-approved{
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    background: #00bf63;
}

.claim-header {
    font-weight: bold;
    margin-bottom: 6px;    
}

.claim-details {
    font-size: 0.9rem;
    color: #555;
}

.Button-Row{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.approve-button {
    background-color: #00bf63;
    color: #D9ECF2;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    font-family: 'Glacial Indifference';
    font-size: 15px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.reject-button {
    background-color: #cc0c18;
    color: #D9ECF2;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    font-family: 'Glacial Indifference';
    font-size: 15px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.send-button {
    background-color: #002D40;
    color: #D9ECF2;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    font-family: 'Glacial Indifference';
    font-size: 15px;
    border-radius: 12px;
}

.return-button {
    background-color: #002D40;
    color: #D9ECF2;
    cursor: pointer;
    border: none;
    height: 50px;
    width: 100px;
    font-family: 'Glacial Indifference';
    font-size: 15px;
    border-radius: 12px;
}

